*{
	 margin:0px;
	 padding: 0px;	
}
.fondo {
     background-image: url("../img/grupal.jpg");
     height: 800px;
     background-size: cover;
     background-repeat: no-repeat;
     background-position: center;
}
.container img{
	 width: 470px;
	 position: relative;
	 margin-top:60px;
	 margin-left:200px;
}
.container a{
	 padding: 8px;
	 border-radius: 10px;
	 text-decoration: none;
	 background: #FFA500;
	 color: #000000;
	 font-size: 25px;
     margin-left: -750px;
     position: relative;
     top: -50px;
}
nav ul{
	list-style: none;
}
nav ul li a{
	 float: left;
	 margin: 3px;
	 color: #000000;
	 font-size: 20px;
	 text-decoration:none;
	 position: relative;
	 top: -100px;
	 left:980px;
}
nav ul li a:hover{
	 background: #FFA500;
}
section{
	height: 400px;
    
}
section .col-4-sm{
	float: left;
	margin-left: 35px;
	margin-top: 35px;
}
section .col-4-sm img{
	width: 399px;
	height: 300px;
}
section .col-4-sm a{
	text-decoration: none;
	font-weight: bold;
    margin-left:95px;
}
footer {
	background-color: #323230 ;
	padding: 2% 0%;
}

footer p{
	color: #fff;
	margin-left: 5px;
}